In [23]:
import pandas as pd

In [24]:
df=pd.read_csv('hiring.csv')
print(df.to_string())

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [25]:
print(df.isna().sum())

experience                    2
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [26]:
x=int(df['test_score(out of 10)'].mean())
print(x)

7

In [27]:
df['test_score(out of 10)'].fillna(x,inplace=True)
print(df.to_string())
print(df['test_score(out of 10)'])

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000
0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     7.0
7     7.0
Name: test_score(out of 10), dtype: float64

In [31]:
df['experience'].fillna('zero',inplace=True)
print(df.to_string())
print(df['experience'])

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000
0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [32]:
print(df.isna().sum())

experience                    0
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [33]:
from word2number import w2n
df['experience']=df['experience'].apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [35]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [37]:
x=df.drop(columns=['salary($)'])
y=df['salary($)']

In [38]:
print(x.to_string())
print(y.to_string())

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                    8.0                           9
1           0                    8.0                           6
2           5                    6.0                           7
3           2                   10.0                          10
4           7                    9.0                           6
5           3                    7.0                          10
6          10                    7.0                           7
7          11                    7.0                           8
0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000

In [40]:
reg.fit(x,y)

LinearRegression()

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [42]:
print(x_train.shape)
print(x_test.shape)

(6, 3)
(2, 3)

In [43]:
n=int(input("Enter how many data"))
lists=[]
for i in range(n):
    x=list(map(int,input("Experience,TestScore,InterviewScore : ").split()))
    lists.append(x)
ans=reg.predict(lists)
for i in ans:
    print(i)

Enter how many data2
Experience,TestScore,InterviewScore2 9 6
Experience,TestScore,InterviewScore12 10 10
53713.86677124005
93747.79628650832

/Users/poojithamm/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
n=int(input("Enter how many data: "))
lists=[]
for i in range(n):
    a=int(input(f"Enter experience of {i+1} person: "))
    b=int(input(f"Enter test score of {i+1} person:"))
    c=int(input(f"Enter interview score of {i+1} person:"))
    nested=list([a,b,c])
    lists.append(nested)
ans=reg.predict(lists)
for i in ans:
    print(f"Salary - {i} ")

Enter how many data: 2
Enter experience of 1 person: 2
Enter test score of 1 person:9
Enter interview score of 1 person:6
Enter experience of 2 person: 12
Enter test score of 2 person:10
Enter interview score of 2 person:10
Salary - 53713.86677124005
Salary - 93747.79628650832

/Users/poojithamm/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(